<div class="container" ng-controller='MyInfoController as $ctrl'>
  <h2 class="text-center">User Information</h2>
    <div ng-if="!$ctrl.isSignedUp()">
      Not Signed Up Yet.
      <a ui-sref="signup" href="#/signup">Sign up Now!</a>
    </div>
    <div ng-if="$ctrl.isSignedUp()" class="ng-scope">
      <div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-xs-3 grid-label">Firstname</div>
                <div class="col-md-8">{{ $ctrl.getUserInfo().firstname }}</div>
              </div>
              <div class="row">
                <div class="col-xs-3 grid-label">Lastname</div>
                <div class="col-md-8">{{ $ctrl.getUserInfo().lastname }}</div>
              </div>
              <div class="row">
                <div class="col-xs-3 grid-label">Email</div>
                <div class="col-md-8">{{ $ctrl.getUserInfo().email }}</div>
              </div>
              <div class="row">
                <div class="col-xs-3 grid-label">Phone</div>
                <div class="col-md-8">{{ $ctrl.getUserInfo().phone }}</div>
              </div>
              <div class="row">
                <div class="col-xs-3 grid-label">Your favourite dish</div>
                <div class="col-md-9">
                  <menu-item ng-repeat="favouriteDish in $ctrl.getUserInfo()"
                             menu-item="favouriteDish">
                  </menu-item>

                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
</div>
